/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ####
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### OTHER ###
*.bak
*.docx
PT2021-2022_Assignment_4.pdf
A4_Support_Presentation.pdf
/JAVADOC